<fieldset class="properties">
    <legend class="section-header">{{ localize 'l5r5e.properties' }}</legend>
    <ul class="item-list">
        {{#each properties as |item id|}}
<!--            {{#ifCond item.type '==' 'property'}}-->
                {{> 'systems/l5r5e/templates/items/property/property-entry.html' item=item id=id editable=../editable }}
<!--            {{/ifCond}}-->
        {{/each}}
    </ul>
</fieldset>