// -- Dices.scss

.dice-roll {
    .dice-formula,
    .dice-total {
        background: rgba(255, 255, 255, 0.1);
        border: rgba(255, 255, 255, 0.75);
    }
}

// Dice in chat
.chat-dice > img {
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 44px;
    width: 44px;
    //cursor: pointer;
    //-webkit-appearance: none;
    //appearance: none;
    outline: none;
    margin: 0;
    flex: 0 0 20px;
    display: inline-block;
}

.chat-profil {
    text-align: center;
    vertical-align: middle;

    &-stance {
        font-size: 40px;
        position: relative;
        top: 8px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    &-element {
        flex-wrap: wrap;
        flex-grow: 1;

        &-skill {
            flex-grow: 3;
        }
    }
}

// Dice Picker
.dice-picker-dialog {
    // Utility
    * {
        transition: none;
    }

    input[type="text"]:focus,
    input[type="text"]:hover {
        box-shadow: none !important;
        border: none !important;
        text-shadow: none !important;
    }

    img {
        border: 0;
    }

    table {
        text-align: center;
        background: none;
        border: none;

        td:first-child {
            width: 200px;
        }

        td {
            width: 240px;
        }

        td:last-child {
            width: 200px;
        }
    }

    .pointer-choice {
        cursor: url("../assets/cursors/pointer.webp"), pointer;
    }

    // Approach choice
    .ring-selection {
        &.ring-selected {
            i {
                text-shadow: 0px 1px 1px $red;
            }
            strong {
                color: $red-light;
            }
            input {
                border: 2px solid $red-light !important;
            }
        }
    }

    .quantity {
        font-size: xx-large;
    }

    .third {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    .dice-container {
        position: relative;
        text-align: center;

        & > img {
            height: 40px;
            width: 40px;
        }
    }

    .dice-value {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .input-dice {
        width: 20px;
        color: #0f0f0e;
        background: none;
        border: none;
        font-size: large;

        &-ring {
            color: #f0f0e0;
        }

        &-skill {
            color: #0f0f0e;
        }
    }
}

.roll-n-keep-dialog {
    img {
        border: 0;
    }

    .profil {
        border-bottom: 1px solid #782e22;
    }

    .dropbox {
        min-height: 100px;

        &.discards {
            border: 1px solid gray;
        }
        &.rerolls {
            border: 1px solid orangered;
        }
        &.keeps {
            border: 1px solid green;
        }
    }

    .dice {
        height: 40px;
        width: 40px;
    }

    .discard {
        filter: opacity(0.5);
        border: 3px solid gray;
    }
    .reroll {
        filter: opacity(0.5);
        border: 3px solid orangered;
    }
    .keep {
        border: 3px solid green;
    }
}
