<fieldset class="weapons-content">
    <legend class="section-header">{{ localize 'l5r5e.advancements.title' }}</legend>
    <ul class="item-list">
        {{#each actor.items as |item id|}}
            {{#ifCond item.type '==' 'advancement'}}
                {{> 'systems/l5r5e/templates/items/advancement/advancement-entry.html' advancement=item id=id }}
            {{/ifCond}}
        {{/each}}
    </ul>
</fieldset>