<ul class="rings">
    <li id="earth">
        <label class="attribute-label earth centered-input">
            <i class="i_earth"></i>
            <strong>{{ localizeRing 'earth' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.rings.earth" value="{{data.rings.earth}}" data-dtype="Number" min="1" max="9" placeholder="0"/>
        </label>
    </li>
    <li  id="air">
        <label class="attribute-label air centered-input">
            <i class="i_air"></i>
            <strong>{{ localizeRing 'air' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.rings.air" value="{{data.rings.air}}" data-dtype="Number" min="1" max="9" placeholder="0"/>
        </label>
    </li>
    <li  id="water">
        <label class="attribute-label water centered-input">
            <i class="i_water"></i>
            <strong>{{ localizeRing 'water' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.rings.water" value="{{data.rings.water}}" data-dtype="Number" min="1" max="9" placeholder="0"/>
        </label>
    </li>
    <li id="fire">
        <label class="attribute-label fire centered-input">
            <i class="i_fire"></i>
            <strong>{{ localizeRing 'fire' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.rings.fire" value="{{data.rings.fire}}" data-dtype="Number" min="1" max="9" placeholder="0"/>
        </label>
    </li>
    <li id="void">
        <label class="attribute-label void centered-input">
            <i class="i_void"></i>
            <strong>{{ localizeRing 'void' }}</strong>
            <input class="centered-input select-on-focus" type="number" name="data.rings.void" value="{{data.rings.void}}" data-dtype="Number" min="1" max="9" placeholder="0"/>
        </label>
    </li>
</ul>